body{
	padding: 10px;
	background-color: #ffffff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 125%;
	line-height: 1.5;
}


header{
	margin: 40px 0px 40px 0px;
	padding: 10px;
	text-align: center;
}

nav {

    background-color: #7d7ea0;
    list-style: none;
	width: 100%;
    text-align: center;

}

nav li {
    display:inline;
}

nav a{
    display:inline-block;
    padding:15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 15%;
}


nav a:hover{
	background-color: rgb(45, 61, 141);
	color: aliceblue;
}

nav a.current {
	background-color: rgb(22, 29, 63);
	color: aliceblue;
}




h1{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 60px; 
	font-weight: bold;
    color: rgb(51, 77, 206)
}

h2{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 30px; 
	font-weight: bold;
}

h3{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 25px; 
	font-weight: bold;	
	color:rgb(44, 61, 147)

}



img{
    height: 250px;
	width:auto;
    border: 1px solid rgb(60, 71, 140);
    padding: 10px;
    border-radius: 10px;
    margin: 25px;
	
}

img:hover{
	background-color: rgb(51, 77, 206);
}


main div:nth-child(3n) img{
    border: 4px rgb(58, 58, 75) solid;
}